* {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

label {
    display: block;
}
.md-wysiwyg {
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
    overflow: hidden;
}
.menu {
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #FFF;
    background: #444;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 5px 7px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 5px 7px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0 5px 7px 1px rgba(0,0,0,0.3);
    }
#logo {
    margin: 5px;
    opacity: 0.2;
    filter: alpha(opacity=20);
    float: left;
}
#logo:hover, #logo:focus {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.input, .output {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

.input {
    font-size: 15px;
    background: #3c3c3c url(../img/noisy-texture_2.png);
    color: #d8dde4;
    -webkit-box-shadow: inset -4px 5px 7px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset -4px 5px 7px 1px rgba(0,0,0,0.3);
    box-shadow: inset -4px 5px 7px 1px rgba(0,0,0,0.3);
}
.input-btns {
    width: 100%;
    font-size: 0;
    background: #444;
    -webkit-box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
}
.input-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 10px 15px;
    background: #555;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px #222;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px #222;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px #222;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.input-btn:hover, .input-btn:focus {
    background: #356094;
    text-decoration: none;
}

.md-input {
    border: 0;
    padding: 20px;
    resize: none;
    background: transparent;
    color: #d8dde4;
    display: block;
    width: 100%;
    height: 100%;
}
.output {
    background: #f5f5f5;
    font-size: 15px;
    height: auto;
}
.export-btns {
    width: 100%;
    font-size: 0;
    background: #9f9f9f;
    -webkit-box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
}
.export-btn {
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 10px 8px;
    background: #888;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px #444;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px #444;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px #444;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.export-btn:hover, .export-btn:focus {
    background: #356094;
    text-decoration: none;
}
.html-output {
    padding: 20px;
    overflow-y: auto;
}
.html-output h1,
.html-output h2,
.html-output h3,
.html-output h4,
.html-output h5,
.html-output h6 { }
.html-output h1 { }
.html-output h2 { }
.html-output h3 { }
.html-output h4 { }
.html-output h5 { }
.html-output h6 { }
.html-output p { }
.html-output strong { }
.html-output em { }
.html-output a { }
.html-output img { }
.html-output code { }
.html-output pre { }
.html-output hr { }
.html-output ul { }
.html-output ul li { }
.html-output ol { }
.html-output ol li { }