* {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

label {
    display: block;
}
.md-wysiwyg {
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
    overflow: hidden;
}
.menu {
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #FFF;
    background-image: url("../img/stripes_01.png");
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 5px 7px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 5px 7px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0 5px 7px 1px rgba(0,0,0,0.3);
    }
#logo {
    margin: 5px;
    opacity: 0.2;
    filter: alpha(opacity=20);
    float: left;
}
#logo:hover, #logo:focus {
    opacity: 0.6;
    filter: alpha(opacity=40);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.div-hide {
    font-size: 10px;
    margin: 0;
}
#logo-link p {
    display: none;
    -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
}
#logo-link:hover p {
    opacity: 0.6;
    position:absolute; top:-5px; left:210px;
    display:block;
    background: #222;
    border: 2px solid #222;
    border-radius: 5px;
}
#btn-help {
    margin-top: 10px;
    position: fixed;
    right: 10px;
    opacity: 0.2;
    filter: alpha(opacity=20);
    float: left;
}
#a-help {
    color: white;
}
#btn-help:hover, #btn-help:focus {
    opacity: 0.6;
    filter: alpha(opacity=40);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.input, .output {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

.input {
    font-size: 15px;
    background: #3c3c3c url(../img/noisy-texture_2.png);
    color: #d8dde4;
    -webkit-box-shadow: inset -4px 5px 7px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset -4px 5px 7px 1px rgba(0,0,0,0.3);
    box-shadow: inset -4px 5px 7px 1px rgba(0,0,0,0.3);
}
.input-btns {
    width: 100%;
    font-size: 0;
    background: #444;
    -webkit-box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
}
.input-btn {
    vertical-align: top;
    display: inline-block;
    width: 20px;
    height: 14px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 8px 10px;
    background: #555;
    color: #CCC;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px #222;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px #222;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px #222;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.input-btn i {
    vertical-align: top;
    display: block;
    text-align: center;
}
.input-btn:hover, .input-btn:focus {
    background: #356094;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.md-input {
    border: 0;
    padding: 20px;
    resize: none;
    background: transparent;
    color: #d8dde4;
    display: block;
    width: 100%;
    height: 100%;
}
.output {
    background: #f5f5f5;
    font-size: 15px;
    height: auto;
}
.export-btns {
    width: 100%;
    font-size: 0;
    background: #9f9f9f;
    -webkit-box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 5px 7px 1px rgba(0,0,0,0.3);
}
.export-btn {
    display: inline-block;
    width: 100px;
    height: 14px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 8px 10px;
    background: #777;
    color: #CCC;
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px #444;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px #444;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px #444;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.export-btn:hover, .export-btn:focus {
    background: #356094;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.html-output {
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
}
.html-output h1,
.html-output h2,
.html-output h3,
.html-output h4,
.html-output h5,
.html-output h6 { }
.html-output h1 { }
.html-output h2 { }
.html-output h3 { }
.html-output h4 { }
.html-output h5 { }
.html-output h6 { }
.html-output p,
.html-output blockquote,
.html-output a,
.html-output em,
.html-output strong,
.html-output li {
    font-size: 14px;
    line-height: 18px;
}
.html-output strong { }
.html-output em { }
.html-output a { }
.html-output img {
    width: auto;
    max-width: 100%;
    height: auto;
}
.html-output pre {
    font-size: 13px;
}
.html-output hr {
    border: 0;
    height: 1px;
    background: #aaa;
}
.html-output ul { }
.html-output ul li { }
.html-output ol { }
.html-output ol li { }


@media only screen and (max-width: 640px) {
    .menu {
        display: none;
    }
}
@media only screen and (max-width: 480px){

    html, body {
        width: 100%;
        height: auto;
    }
    .input, .output {
        width: 100%;
        display: block;
    }

}